@import "compass/reset";
@import "compass/css3";
@import "../icon";
@mixin circle($bg-color){
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: $bg-color;
	margin-right: 6px;
}
@mixin img-circle($size){
	display: inline-block;
	width: $size;
	height: $size;
	border-radius: 100%;
}

$gray: #ccc;
$font-color: #333;
$light-gray: #666;
$theme-green: #6cdcac;
$theme-blue: #1fb5e8;
$theme-purple: #ad9ed1;
$theme-yellow: #eaa861;
$twitter: rgb(126, 160, 191);
$dark-twitter: #5582AA;
body {
	font-size: 14px;
	color: $font-color;
	background-color: #e1e1e1;
}
a {
	color: $twitter;
}
.col3 {
	width: 22%;
	float: left;
}
.col6 {
	float: left;
	width: 56%;
}
p {
	line-height: 1.4em;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
.container {
	margin: 0 auto;
	width: 80%;
}
.text-center {
	text-align: center;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
header {
	background: white;
	border-bottom: 1px solid $gray;

	.icon-quill {
		background-color: $twitter;
		border-radius: 20px;
		width: 40px;
		padding: 10px;
		color: white;
	}
	.logo {
		margin: 5%;
	}

	nav {
		padding: 10px;
		border-left: 1px solid $gray;
		i {
			text-align: center;
			display: inline-block;
			border-radius: 20px;
			width: 18px;
			padding: 10px;
			border: 1px solid $gray;	
			margin: 0 10px;		
		}
	}
	.icon-twitter {
		color: $twitter;
		line-height: 42px;
		font-size: 30px;
		display: block;
		margin-top: 10px;
	}
	form {
		position: relative;
		display: inline-block;
		margin-top: 10px;
		input[type='text'] {
			width: 90%;
			padding-right: 9%;
			height: 28px;
			font-size: 1em;
			border: 1px solid $gray;
			border-radius: 20px;
			padding: 2px 30px 2px 10px;
		}
		.icon-search {
			position: absolute;
			right: -6px;
			top: 10px;
		}
	}
	.user{
		margin:5px 20px;
		 img {
			@include img-circle(40px);
		}		
	}
}
aside {
	background-color: $twitter;
	min-height: 500px;
}
.main-part {
	padding: 20px;
	header {
		background-color: white;
		margin-bottom: 20px;
	}
	.content {
		background-color: white;
		max-height: 669px;
		overflow-y: scroll;
	}
}
.author {
	color: white;
	padding: 3em 1.5em 1em 1.5em;
	img {
		margin-bottom: 0.8em;
		@include img-circle(80px);
	}
	a {
		display: inline-block;
		margin: 1em auto;
		color: white;
		text-decoration: none;
	}
	a.follow-btn {
		background-color: $dark-twitter;
		width: 60%;
		display: block;
		padding: 0.6em 0.5px;
		border-radius: 2em;
	}
}
.images img{
	float: left;
	width: 33.3333%;
	height: 7em;
}
.activities {
	padding: 2em;
	color: $dark-twitter;
	a, h3 {
		color: white;
	}
	h3 {
		margin-bottom: 0.8em;
	}
	li {
		line-height: 1.6em;
	}
}
.main-part {
	header {
		ul li {
			text-align: center;
			float: left;
			padding: 2.5%;
			width: 20%;
			overflow: hidden;
			&.active {
				border-bottom: 5px solid $twitter;	
			}
		}
	}
	article{
		padding: 20px;
		position: relative;
		border-bottom: 1px solid #ccc;
		.avator {
			@include img-circle(30px);
			position: absolute;
			left: 20px;
		}
		.each-content{
			margin-left: 40px;
			p {
				margin: 0.6em 0;
			}
		}		
		.name {
			font-weight: bold;
		}
		.account, .date {
			color: #666;
		}
		.icons i {
			color: #999;
			margin: 0 0.5em;
		}
	}
}
.laside {
	height: 762px;
}
.raside {
	height: 762px;
	background-color: white;
}
.trends {
	padding: 20px;
	h3 {
		margin-bottom: 0.8em;
	}
	li a{
		line-height: 1.4em;
		text-decoration: none;
	}
}
.following {
	padding: 20px;
	ul li {
		position: relative;
		padding-left: 40px;
		margin: 10px 0;
		img.avator {
			@include img-circle(30px);
			position: absolute;
			left: 0px;
		}	
		i {
			float: right;
			font-size: 0.4em;
			font-weight: lighter;
			padding: 3px;
			border: 1px solid #ccc;
			border-radius: 3px;
		}
		.title {
			color: #999;
		}	
	}
}